<h1>{{ title }}</h1>
<ul>
	<li *ngFor="let salesInvoice of salesInvoices"
		(click)="onSelect(salesInvoice)" >
		<span style="margin: 10px" >{{salesInvoice.id}}</span>$ {{salesInvoice.invoiceAmount}} 
	</li>
</ul>

<div *ngIf="salesInvoiceSelected">
    <h2>
        INVOICE SELECTED # {{customerAsociated.name | uppercase}} 
    </h2>
    
    <hr>

    <li *ngFor="let lineItem of lineItemsAsociated" >
		<span style="margin: 10px" >{{lineItem.lineNumber}}</span> {{lineItem.productId}} - $ {{lineItem.purchasePrice}}
	</li>
</div>